<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TORCITY HOME</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
  </head>
  <body>
    <header class="navbar">
      <div class="navbar-logo">
        <img src="../static/images/logo.png" alt="Logo" />
      </div>
      <nav class="navbar-nav">
        <ul>
          <li><a href="http://127.0.0.1:5000/">About</a></li>
          <li><a href="http://127.0.0.1:5000/reservation">Reservation</a></li>
          <li><a href="http://127.0.0.1:5000/pricing">Pricing</a></li>
        </ul>
      </nav>
      <div class="navbar-actions">
        <a href="http://127.0.0.1:5000/signup" class="btn">Sign Up</a>
        <a href="http://127.0.0.1:5000/staff_login" class="btn">Staff</a>
      </div>
    </header>
    <div class="headPanel">
      <p class="quote">
        "Space is not just an empty void, but a canvas of infinite
        possibilities, waiting to be explored and discovered by the curious
        minds of humanity." Telon Usk
      </p>
    </div>

    <div class="container">
      <div>
        <h1>Our Vision</h1>
        <p class="leftText">
          Torcity was founded with the vision to revolutionize the travel
          industry by offering a unique and luxurious space hotel experience
          that inspires curiosity, fosters exploration, and sparks a deeper
          appreciation for our place in the universe.
        </p>
      </div>
      <img
        src="../static/images/space_view.jpg"
        alt="View of earth from the hotel"
        width="50%"
      />
    </div>

    <div class="container">
      <div>
        <img
          src="../static/images/space_walk.jpg"
          alt="Astronaut on the moon"
          width="70%"
        />
      </div>
      <h1>“Connecting the galaxies, one step at a time”</h1>
    </div>

    <div class="container">
      <div>
        <h1>Sustainability</h1>
        <p class="leftText">
          By implementing CERN’s quantum nuclear fusion reactor as well as our
          ultra-efficient space debris recycling process, Torcity operates on a
          net negative carbon footprint.
        </p>
      </div>
      <img
        src="../static/images/sustainability.jpg"
        alt="Growing plant"
        width="30%"
      />
    </div>

    <div class="container">
      <img
        src="../static/images/astronaut.jpg"
        alt="Astronaut in space"
        width="50%"
      />
      <div>
        <h1>Our Commitment</h1>
        <p class="rightText">
          “Torcity is committed to donating 30% of all profits to the Action
          Against Hunger movement, ensuring that we don’t stray from the
          immediate issues.”
        </p>
      </div>
    </div>
  </body>
</html>
